@use "../_variables"as v;

.details-page {
    width: 100%;
    @include v.flexbox(column, flex-start, center);
    
    .back-button {
        color: v.$grayGreen;
        text-decoration: none;
        font-size: 150%;
    }
}

.destroy-button {
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    background-color: red;
    border: none;
    position: fixed;
    cursor: pointer;
    right: 100px;
    bottom: 25px;
    margin: 1%;
    border-radius: 5em;
    padding: 0.75em;
    line-height: .6em;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 200ms ease-in-out;
    &:hover {
      transform: translateY(-5px);
    }
}

.horse-profile {
    @include v.flexbox(row, space-around, center);
    width: 100%;
}

.horse-photo {
    height: 70vh;
    margin: 3%;
    border-radius: 2%;
    box-shadow: 5px 5px 5px 3px v.$headerBackground;
}

.horse-details {
    @include v.flexbox(column, space-around, center);
    width: 50%;
    height: 70vh;
    background-color: white;
    border-radius: 2%;
    box-shadow: 5px 5px 5px 3px v.$headerBackground;
}

.info-tables {
    width: 100%;
    padding-left: 10%;
    table {
        width: 60%;
    }
    
    tbody {
        @include v.flexbox(column, flex-start, space-between);
        tr {
            @include v.flexbox(row, space-between, center);
        }
    }

}