.sidebar-container {
    //font-size: 1.6rem;
    background-color: #3D4836;
    height: 100vh;
    min-width: 250px;
    color: white;
    //position: fixed;
}

.placeholder-logo {
    margin-left: 35px;
    margin-top: 35px;
}

.nav-items {
    list-style: none;
    padding-left: 35px;
    margin-top: 70px;
    li {
        margin-top: 30px;
        margin-bottom: 30px;
        a {
            color: white;
            text-decoration: none;
        }

        img {
            margin-right: 10px;
            margin-bottom: -5px;
        }
    }

}