.header-container {
    background-color: #EDEAE7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
    height: 90px;
    //flex: 1;
    h1 {
        font-weight: 500;
        font-size: 20px;
        //font-size: 2rem;
    }
}

.profile-container {
    display: flex;
    img {
        margin-right: 8px;
    }
}