.Dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3;
  gap: 1em;
  margin: 0 1em 1em 1em;
}

header {
  grid-column: 2 / 5;

  button {
    background-color: #373737;
    color: white;
    border: none;
    padding: .25em 1em;
    cursor: pointer;
  }
}

@media (max-width: 500px) {
  .Dashboard {
    grid-template-columns: 1fr;
  }

  header {
    grid-column: 1 / 2;
  }
}