@use "../_variables"as v;

.Dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3;
  gap: 1.5em;
  margin: 1.5em 1.5em 1.5em 1.5em;
  //flex: 1;
  height: calc(100vh - 90px - 3em);
  margin-top: calc(90px + 1.5em);
}



@media screen and (max-width: 1000px) {
  .Dashboard {
    grid-template-columns: 1fr !important;
  }
}

@media screen and (max-width: 768px) {
  .Dashboard {
    margin-top: 1.5em;
  }
}