@use "../_variables"as v;

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  //font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
}

.main-section {
  background-color: v.$mainBackground;
  flex: 1;
}